# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# VSCode
.vscode/

# Media and static
/media/
/staticfiles/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
